@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
:root {
    --first-color: #d8dfe2;
    --second-color: #71adb5;
    --third-color: #176d81;
    --fourth-color: #0d3446;
    --fifth-color: #7c146b;
    --sixth-color: #242424;
  }
body{
    min-height: 100vh;
    scroll-behavior: smooth;
    background-color: var(--first-color);
    position: relative;
}
.container {
    padding: 0 8%;
}
.text {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5;
}
.head {
    font-size: 40px;
    font-weight: 300;
    color: #000;
    margin-bottom: 18px;
}
.txt {
    font-family: "Roboto", sans-serif;
    color: var(--sixth-color);
    font-size: 18px;
    margin-bottom: 18px;
}
.sub-title p {
    padding: 0 12%;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
}

/*===========================================Header=========================================*/

.contacts-main {
    color: #fff;
    background-color: var(--fourth-color);
    padding: 10px 0;
}
.contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact {
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact span {
    font-size: 19px;
}
.email {
    margin: 0 17px 0 7px;
    color: var(--second-color);
    font-size: 13px;
}
.socials {
    display: flex;
    align-items: center;
    justify-content: center;
}
.socials a {
    text-decoration: none;
}
.socials i {
    color: var(--second-color);
    font-size: 19px;
    margin: 0 10px;
}
.socials i:hover {
    color: var(--fifth-color);
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
.header {
    background: var(--first-color);
    padding: 10px 0;
    z-index: 9999;
    box-shadow: 0 5px 20px var(--fourth-color);
}
.material {
    color: var(--fourth-color);
    font-size: 18px;
    padding-top: 5px;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a img {
    height: 60px;
    margin-left: -5px;
}
.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-item {
    font-size: 15px;
    list-style-type: none;
    margin-right: 2.3em;
    font-weight: 300;
    position: relative;
}
.nav-link {
    text-decoration: none;
    color: #000;
}
.nav-link::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--fifth-color);
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.5s;
}
.nav-link:hover::after {
    width: 100%;
}
.nav-link:hover {
    color: var(--fifth-color);
}

/*======================hamburger==================*/

.hamburger {
    display: none;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--fourth-color);
}

/*===============Home module==============*/

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    overflow: hidden;
}
.hello {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.hello h1 {
    font-size: 60px;
    font-weight: 600;
    color: var(--first-color);
}
.hello h3 {
    font-size: 22px;
    font-weight: 300;
    margin: 10px 0;
    color: var(--first-color);
}
.hello h3 span {
    color: var(--fifth-color);
    font-weight: 500;
}
.hello a {
    text-decoration: none;
    width: fit-content;
    padding: 5px 34px;
    margin-top: 20px;
    color: var(--first-color);
    background-color: var(--fifth-color);
    border-radius: 10px;
    box-shadow: 0 2px 2px var(--fourth-color);
    transition: .6s;
}
.hello a:hover {
    background-color: #440139;
}

/*=================End of home============*/

.moto {
    animation: rotate 7s infinite ease-in-out;
}
.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding: 60px 0;
}
.row-cont {
    outline: none;
    position: relative;
    line-height: 1.7;
    padding: 15px 45px;
    overflow: hidden;
}
.row-cont h4 {
    font-size: 28px;
    font-weight: 400;
    color: var(--fifth-color);
    margin-bottom: 8px;
}
.count {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.count h1 {
    font-size: 150px;
    color: var(--third-color);
    opacity: .1;
    margin-top: -60px;
}
.row-cont ul {
    list-style-type: none;
    margin-top: 18px;
    justify-content: center;
    align-items: center;
}
.row-cont ul li {
    display: block;
    font-size: 15px;
    text-indent: 5px;
    margin-bottom: 8px;
    justify-content: center;
    align-items: center;
}
.row-cont ul li i {
    font-size: 12px;
    color: var(--fifth-color);
    margin-right: 15px;
}

/*-=======================================work=======================*/

.work {
    padding-bottom: 4rem;
}
.sub-title {
    text-align: center;
}
.sub-work {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    grid-gap: 40px;
    padding: 60px 0;
} 
.sub-work img {
    width: 100%;
    outline: 1px solid var(--second-color);
}
.sub-work img:hover {
    transform: scale(1.5);
    overflow: hidden;
}
.col-1 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.work-layer {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    background-color: #0d3446be;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    overflow: hidden;
}
.work-layer span {
    font-size: 45px;
    color: var(--first-color);
}
.work-layer h4 {
    font-size: 18px;
    margin-top: 10px;
    line-height: 1.7;
    color: var(--first-color);
    text-transform: uppercase;
}
.work-layer:hover {
    transition: all .7s ease-in-out;
    opacity: 1;
    overflow: hidden;
}
.button {
    position: relative;
}
.button a {
    text-decoration: none;
    color: var(--third-color);
    font-size: 13px;
}
.btn {
    display:flex;
    align-items: center;
    width: fit-content;
    margin-left: auto;
    justify-content: center;
    color: var(--fourth-color);
    border: none;
    padding: 5px 10px;
    background-color: var(--first-color);
    border: 1px solid var(--third-color);
    border-radius: 6px;
    cursor: pointer;
    transition: all .3s;
}
.btn:hover {
    color: var(--first-color);
    background-color: var(--third-color);
}
.btn span {
    font-size: 1em;
    font-weight: 500;
    margin-left: .5em;
}
.work-1 {
    background-color: var(--fourth-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 30px;
}
.work-container {
    padding: 30px 40px;
}
.work-1 img {
    width: 40%;
    margin-right: 20px;
}
.work-1 .work-2 {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px;
}
.work-3 h3 {
    font-size: 18px;
    font-weight: 400;
    color: var(--first-color);
    margin-bottom: 5px;
}
.work-3 h3 i {
    font-style: normal;
    margin-right: 17px;
}
.small-txt {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: var(--second-color);
    margin-bottom: 10px;
}
.work-3 a {
    text-decoration: none;
    color: var(--first-color);
    font-size: 13px;
}
.work-3 a:hover {
    color: var(--second-color);
}

/*===================================testimony=================*/

.mySwiper {
    width: 900px;
    height: 280px;
    position: relative;
    left: 50%;
    transform: translate(-50%,10%);
}
.testimonials {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.user-text p {
    color: var(--fourth-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: 200;
    line-height: 1.8;
    text-align: center;
}
.details {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.user-img {
    object-fit: contain;
    width: 50px;
    height: 50px;
    margin-right: 26px;
    
}
.user-img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.slide-row {
    display: flex;
    width: 3600px;
    transition: 0.5s;
}
.slide-col {
    width: 900px;
    height: 280px;
    position: relative;
}
.name {
    font-size: 15px;
    line-height: 28px;
    font-weight: 300;
}
.indicator {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
}
.dot {
    display: inline-block;
    height: 10px;
    width: 10px;
    margin: 4px;
    border-radius: 15px;
    background-color: var(--third-color);
    cursor: pointer;
    transition: .5s;
}
.active {
    width: 25px;
}
/*==============================Services=======================*/
.services {
    margin-top: 170px;
}
.service-container {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    grid-gap: 40px;
    padding: 60px 0;
}
.service-box {
    display: flex;
    justify-content: flex-start;
}
.service-icon {
    padding-right: 25px;
}
.service-icon span {
    font-size: 53px;
    color: var(--third-color);
}
.service-title {
    font-size: 19px;
    font-weight: 450;
}
.service-description p {
    font-size: 17px;
    font-weight: 300;
    color: var(--sixth-color);
    padding: 10px 0;
}
.service-description a {
    text-decoration: none;
    color: var(--third-color);
    font-size: 16px;
}
.service-description a:hover {
    color: var(--fourth-color);
}

/*===================================================About =========================*/
.about-container {
    display: flex;
    align-items: flex-start;
    margin-top: 80px;
}
.about-text {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    padding: 10px;
}
.about-img {
    flex-basis: 50%;
    object-fit: cover;
}
.about-img img {
    width: 100%;
    height: 100%;
}
.about-h3 {
    text-align: left;
}
.sub-about {
    margin-right: auto;
}
.about-p {
    font-size: 17px;
    font-weight: 270;
    line-height: 1.4;
    letter-spacing: 1.2px;
    max-width: 90%;
    margin-bottom: 30px;
}
.slogan {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.slogan-details {
    flex: 1;
}
.slogan-details span {
    font-size: 43px;
    color: var(--third-color);
}
.slogan-title {
    color: var(--sixth-color);
    font-size: 17px;
    font-weight: 600;
}
.slogan-details p {
    font-size: 16px;
    color: var(--sixth-color);
    font-weight: 350;
    text-wrap: wrap;
    width: 80%;
    padding-bottom: 12px;
}
.slogan-details a {
    text-decoration: none;
    color: var(--third-color);
    font-size: 16px;
}
.slogan-details a:hover {
   color: var(--fourth-color); 
}

/*===========================================Team======================*/

.team {
    margin: 80px 0;
}
.team-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.team-card {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 0;
}
.team-img {
    width: 150px;
    height: 150px;
    border: 2px solid var(--third-color);
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 35px;
}
.team-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.mate {
    font-size: 18px;
    font-weight: 500;
    color: var(--sixth-color);
    letter-spacing: 1.5;
}
.mate-title {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
    color: var(--sixth-color);
}
.team-card p {
    font-size: 15px;
    color: var(--sixth-color);
    padding: 20px;
    line-height: 1.5;
}
.mate-socials {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.mate-socials i {
    color: var(--first-color);
    font-size: 13px;
    margin: 3px 4px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
}
.fa-facebook-f {
    padding: 2px 3px;
}
.mate-socials a {
    text-decoration: none;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    padding: 2px 4px;
    background-color: #5e5e5e;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.mate-socials a:hover {
    background-color: var(--sixth-color);
}
/*=====================================Blogs===========================*/
.blogs {
    margin: 80px 0;
}
.blog-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    padding: 60px 0;
}
.blog-img {
    position: relative;
    overflow: hidden;
    object-fit: cover;
    margin-bottom: 27px;
}
.blog-img img {
    width: 100%;
    height: auto;
    display: block;
}
.blog-title {
    color: var(--third-color);
    text-decoration: none;
    font-size: 19px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: -0.02em;
    margin-bottom: 12px;
}
.blog-title:hover {
    color: var(--fourth-color);
    text-decoration: underline;
}
.blog-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 4px;
    flex-wrap: wrap;
}
.blogger {
    font-size: 15px;
    color: var(--sixth-color);
    margin-right: 6px;
    font-weight: 200;
}
.dot-1 {
    display: inline-block;
    height: 5px;
    width: 5px;
    margin: 6px;
    border-radius: 15px;
    background-color: #5e5e5e;
}
.blog-date {
    font-size: 13px;
    color: var(--sixth-color);
    font-weight: 200;
    margin: 6px;
}
.news {
    margin-left: 6px;
    text-decoration: none;
    font-size: 14px;
    color: var(--third-color);
}
.news:hover {
    color: var(--fourth-color);
}
.blog-card p {
    font-size: 16px;
    color: var(--sixth-color);
    font-weight: 380;
    line-height: 1.7;
    padding: 10px 0;
}
.extra {
    text-decoration: none;
    font-size: 16px;
    color: var(--third-color);
    cursor: pointer;
}
.extra:hover {
    color: var(--fourth-color);
}

/*=========================================Contacts===========================*/

.contact-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .contact-form {
        width: 50%;
        padding: 60px 40px;
        background-color: var(--first-color);
        h2 {
            font-size: 30px;
            color: var(--third-color);
            font-weight: 300;
            letter-spacing: -1px;
            margin-bottom: 30px;
        }
        .inputBox {
            position: relative;
            width: 100%;
            margin-top: 10px;
            input, textarea {
                width: 100%;
                padding: 5px 10px;
                font-size: 16px;
                margin: 10px 0;
                border: 1px solid #7070709f;
                box-sizing: border-box;
                border-radius: 15px;
                outline: none;
                resize: vertical;
                background-color: transparent;
                &:focus ~ span,
                &:valid ~ span {
                    color: var(--third-color);
                    font-size: 12px;
                    transform: translateY(-20px);
                }
            }
            span {
                position: absolute;
                left: 0;
                padding: 5px 0;
                font-size: 14px;
                margin: 10px 13px;
                pointer-events: none;
                transition: 0.5s;
                color: #666;
            }
            input[type="submit"] {
                width: fit-content;
                background: var(--third-color);
                color: #ffffff;
                border: none;
                border-radius: 10px;
                cursor: pointer;
                padding: 10px;
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
    .contact-details {
        width: 50%;
        padding: 60px 40px;
        .c-info {
            padding: 30px 0;
            h4 {
                font-size: 18px;
                font-weight: 500;
                color: var(--sixth-color);
                padding: 8px 0;
            }
            p {
                line-height: 1.7;
                letter-spacing: 1px;
                max-width: 59ch;
                color: var(--sixth-color);
                font-size: 16px;
            }
            a {
                display: inline-block;
                color: var(--third-color);
                text-decoration: none;
                &:hover {
                    color: var(--fourth-color);
                }
            }
        }
    }
}
/*=========================getting started======================*/
.getStarted {
    width: 100%;
    padding: 40px 0;
    background-color: var(--third-color);
    text-align: center;
    margin-top: 30px;
    .starter {
        font-size: 30px;
        font-weight: 300;
        color: #fff;
    }
}
/*=====================================footer========================*/
.footer {
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #07111bda;
    padding-top: 5%;
    .foonter-content {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 280px;
        .f-col {
            flex: 1;
            margin: 16px 10px;
            p {
                font-size: 15px;
                font-weight: 250;
                line-height: 1.6;
                color: #838383;
                padding-right: 12px;
            }
        }
        .f-row {
            display: flex;
            justify-content: space-evenly;
            align-items: flex-start;
            flex: 3;
            margin: 16px 10px;
            .f-col-1 ul {
                flex: 1;
                list-style-type: none;
                li {
                    margin-bottom: 6px;
                    a {
                        text-decoration: none;
                        color: #777;
                        font-size: 16px;
                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
            .f-col-2 ul {
                display: flex;
                flex: 1;
                align-items: center;
                justify-content: space-evenly;
                list-style-type: none;
                li {
                    padding-right: 35px;
                    a {
                        text-decoration: none;
                        i {
                            font-size: 15px;
                            font-weight: 500;
                            color: #777;
                            &:hover {
                                color: #fff;
                            }
                        }
                    }
                }
            }
            .f-col-3 .input-box {
                    position: relative;
                    width: 100%;
                    margin-top: 10px;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    input[type="email"] {
                        height: 40px;
                        flex: 2;
                        color: #bbb;
                        padding: 5px 10px;
                        font-size: 16px;
                        margin: 10px 0;
                        border: 1px solid #7070709f;
                        border-right: none;
                        box-sizing: border-box;
                        border-radius: 15px 0 0 15px;
                        outline: none;
                        resize: none;
                        background-color: transparent;
                        &::placeholder {
                            color: #666;
                        }
                    }
                    button {
                        height: 40px;
                        flex: 1;
                        padding: 5px 10px;
                        outline: none;
                        border: none;
                        box-sizing: border-box;
                        font-size: 16px;
                        background-color: var(--third-color);
                        color: var(--first-color);
                        border-radius: 0  15px 15px 0;
                        cursor: pointer;
                        &:active,&:focus{
                            opacity: 0.8;
                        }
                    }
                }
           /* } */
        }
    }
}
.f-head {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
    margin-bottom: 16px;
}
.copyright {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 18px 0;
    background-color: #07111b4d;
    font-size: 14px;
    color: #9b9b9b;
    line-height: 20px;
    text-align: center;
}

/*==========================Media responsiveness===========================*/

@media screen and (min-width: 768px) and (max-width: 1023px){
    .text {
        font-size: 13px;
        font-weight: 300;
    }
    .head {
        font-size: 31px;
        margin-bottom: 15px;
    }
    .txt {
        font-size: 15px;
        margin-bottom: 18px;
    }
    .sub-title p {
        font-size: 16px;
        padding: 0 10%;
    }
    .contact span {
        font-size: 17px;
    }
    .email {
        margin: 0 15px 0 7px;
        font-size: 12px;
    }
    .socials i {
        font-size: 17px;
        margin: 0 10px;
    }
    .container {
        padding: 0 5%;
    }
    .logo a img {
        height: 55px;
        margin-left: -5px;
    }
    .nav-menu {
        position: fixed;
        right: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: var(--first-color);
        width: 60%;
        height: 90vh;
        text-align: center;
        transition: 0.3s;
    }
    .nav-menu.active {
        right: 0;
    }
    .nav-item {
        margin: 1rem 0;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    #home {
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center center;
    }
    .hello h1 {
        font-size: 55px;
    }
    .hello h3 {
        font-size: 20px;
    }
    .row {
        grid-gap: 20px;
        padding: 40px 0;
    }
    .row-cont {
        line-height: 1.5;
        padding: 15px 30px;
    }
    .row-cont h4 {
        font-size: 25px;
        margin-bottom: 6px;
    }
    .count h1 {
        font-size: 100px;
        margin-top: -20px;
    }
    .row-cont ul {
        margin-top: 14px;
    }
    .row-cont ul li {
        font-size: 12px;
        text-indent: 3px;
        margin-bottom: 5px;
    }
    .row-cont ul li i {
        font-size: 11px;
        margin-right: 10px;
    }
    .work-layer span {
        font-size: 35px;
    }
    .work-layer h4 {
        font-size: 15px;
        margin-top: 8px;
        line-height: 1.5;
    }
    .btn {
        padding: 4px 8px;
        border-radius: 6px;
    }
    .work-container {
        padding: 30px 20px;
    }
    .work-1 {
        padding: 25px 20px;
    }
    .work-1 img {
        width: 35%;
        margin: 30px 0;
    }
    .work-3 h3 {
        font-size: 15px;
        margin-bottom: 4px;
    }
    .small-txt {
        font-size: 12px;
        line-height: 1.15;
        margin-bottom: 5px;
    }
    .work-3 a {
        font-size: 11px;
    }

    .mySwiper {
        height: 200px;
    }
    .user-text p {
        font-size: 17px;
        padding: 0 60px;
    }
    .slide-col {
        height: 200px;
    }
    .indicator {
        bottom: -25px;
    }

    .services {
        margin-top: 120px;
    }
    .service-container {
        grid-gap: 30px;
        padding: 40px 0;
    }
    .service-icon {
        padding-right: 20px;
    }
    .service-icon span {
        font-size: 40px;
    }
    .service-title {
        font-size: 17px;
    }
    .service-description p {
        font-size: 14px;
        line-height: 1.3;
        padding: 6px 0;
    }
    .service-description a {
        font-size: 14px;
    }

    .about-text {
        flex-basis: 55%;
        padding: 0;
    }
    .about-img {
        flex-basis: 45%;
    }
    .about-p {
        font-size: 14px;
        line-height: 1.2;
        margin-bottom: 20px;
    }
    .slogan-details span {
        font-size: 33px;
    }
    .slogan-title {
        font-size: 14px;
    }
    .slogan-details p {
        font-size: 13px;
        width: 90%;
        padding-bottom: 8px;
    }
    .slogan-details a {
        font-size: 14px;
    }
    .team-img {
        width: 120px;
        height: 120px;
        margin-bottom: 30px;
    }
    .mate {
        font-size: 15px;
    }
    .team-card p {
        font-size: 13px;
        padding: 17px;
    }
    .mate-socials i {
        font-size: 12px;
        margin: 2px 3px;
    }
    .mate-socials a {
        padding: 0 3px;
    }

    .blog-title {
        font-size: 16px;
        margin-bottom: 8px;
    }
    .blogger {
        font-size: 12px;
        margin-right: 3px;
    }
    .dot-1 {
        margin: 3px;
    }
    .blog-date {
        font-size: 11px;
        margin: 3px;
    }
    .news {
        margin-left: 3px;
        font-size: 12px;
        
    }
    .blog-card p {
        font-size: 13px;
        padding: 8px 0;
    }
    .extra {
        font-size: 13px;
    }
    .contact-content .contact-form {
        padding: 40px 20px;
        h2 {
            font-size: 22px;
            margin-bottom: 20px;
        }
        .inputBox {
            margin-top: 8px;
            input, textarea {
                padding: 4px 8px;
                font-size: 14px;
                margin: 8px 0;
                border-radius: 10px;
                &:focus ~ span,
                &:valid ~ span {
                    font-size: 10px;
                }
            }
            span {
                padding: 5px 0;
                font-size: 12px;
                margin: 10px;
            }
            input[type="submit"] {
                font-size: 14px;
                padding: 8px;
            }
        }
    }
    .contact-content .contact-details {
        padding: 80px 30px;
        .c-info {
            padding: 10px 0;
            h4 {
                font-size: 16px;
                padding: 5px 0;
            }
            p {
                font-size: 14px;
            }
        }
    }

    .getStarted {
        padding: 30px 0;
        margin-top: 30px;
        .starter {
            font-size: 22px;
        }
    }
    .footer {
        padding-top: 4%;
        .foonter-content {
            height: 250px;
            .f-col {
                margin: 14px 8px;
                p {
                    font-size: 14px;
                    padding-right: 10px;
                }
            }
            .f-row {
                margin: 14px 10px;
                .f-col-1 ul li {
                        margin-bottom: 5px;
                        a {
                            font-size: 14px;
                        }
                }
                .f-col-2 ul li {
                    padding-right: 22px;
                }
            }
            .f-head {
                font-size: 15px;
                margin-bottom: 14px;
            }
            .f-col-3 .input-box {
                margin-top: 9px;
                input[type="email"] {
                    height: 30px;
                    padding: 4px 8px;
                    font-size: 14px;
                }
                button {
                    height: 30px;
                    padding: 4px 8px;
                    font-size: 14px;
                }
           }
        }
        .copyright {
            padding: 16px 0;
            font-size: 13px;
            line-height: 18px;
        }
    }
}

@media screen and (max-width: 767px) {
    
    .text {
        font-size: 14px;
    }
    .container {
        padding: 0 3%;
    }
    .head {
        font-size: 26px;
        margin-bottom: 10px;
    }
    .txt {
        font-size: 15px;
        margin-bottom: 15px;
    }
    .sub-title p {
        font-size: 16px;
        padding: 0 7%;
    }
    .contact span {
        font-size: 14px;
    }
    .email {
        margin: 0 11px 0 5px;
        font-size: 10px;
    }
    .socials i {
        font-size: 14px;
        margin: 0 8px;
    }
    .logo a img {
        height: 50px;
        margin-left: -5px;
    }
    .nav-menu {
        position: fixed;
        right: -100%;
        top: 4.5rem;
        flex-direction: column;
        background-color: var(--first-color);
        width: 60%;
        height: 100vh;
        text-align: center;
        transition: 0.3s;
    }
    .nav-menu.active {
        right: 0;
    }
    .nav-item {
        margin: 1rem 0;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .bar {
        width: 22px;
        height: 3px;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .hello h1 {
        font-size: 48px;
    }
    .hello h3 {
        font-size: 17px;
    }

    .row {
        display: grid;
        grid-template-columns: repeat(1, 3fr);
        grid-gap: 20px;
        padding: 30px 0;
    }
    .row-cont h4 {
        font-size: 26px;
        margin-bottom: 5px;
    }
    .row-cont ul li {
        font-size: 14px;
        margin-bottom: 6px;
    }
    .row-cont ul li i {
        font-size: 11px;
        margin-right: 13px;
    } 

    .sub-work {
        display: grid;
        grid-template: repeat(6, 1fr) / 1fr;
        grid-gap: 40px;
        padding: 50px;
    }
    .button {
        margin-top: -30px;
    }
}